@model IEnumerable<LogisticDashboard.Core.DeliveryLeadtimeData>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LeadtimeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Month)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Actual_Ave)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Target_Max)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Target_Min)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.No_Of_BL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActualFYAverage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TargetFYMax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TargetFYMin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoOfBLFY)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LeadtimeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Month)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Actual_Ave)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Target_Max)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Target_Min)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.No_Of_BL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActualFYAverage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TargetFYMax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TargetFYMin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoOfBLFY)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
