@model LogisticDashboard.Core.DeliveryLeadtime

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DeliveryLeadtime</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Carrier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Carrier)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OriginPort)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OriginPort)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DestinationPort)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DestinationPort)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VesselTransitLeadtime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VesselTransitLeadtime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomsClearanceLeadtime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomsClearanceLeadtime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalLeadtime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalLeadtime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
