@model IEnumerable<LogisticDashboard.Core.VesselRouteMap>

@{
    ViewData["Title"] = "Vessel Route Maps";
}

<h1>Vessel Route Maps</h1>

<div class="text-end">
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</div>

<div class="card shadow">
    <div class="card-header bg-dark text-white">
        <i class="fa-solid fa-ship"></i> Vessels
    </div>
    <ul class="list-group list-group-flush">
        @foreach (var item in Model)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>@item.VesselName</span>
                <div>
                    <a class="routeView btn btn-sm btn-success"
                            asp-action="RouteView"
                            asp-route-id="@item.Id"
                            data-shipid="@item.ShipId"
                            data-name="@item.VesselName">
                        Route View
                    </a>
                    <button class="liveView btn btn-sm btn-success"
                            asp-route-id="@item.Id"
                            data-shipid="@item.ShipId"
                            data-name="@item.VesselName">
                        Live View
                    </button>
                    <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </div>
            </li>
        }
    </ul>
</div>

<div>
    <div id="map" class="rounded shadow-sm border" style="height: 70vh;"></div>
</div>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""></script>

<link rel="stylesheet" href="~/js/libraries/leaflet-routing/leaflet-routing-machine.css" />
<script src="~/js/libraries/leaflet-routing/leaflet-routing-machine.js"></script>
<script src="~/js/libraries/leaflet-routing/leaflet.PopupMovable.js"></script>

@section Scripts {
    <script type="module">
        import { sendToWebView } from "./../../js/helpers/WebViewInteraction.js";

        const routeColors = [
            '#E60049', // Red
            '#00B6FF', // Sky Blue
            '#68C300', // Lime Green
            '#FF7F00', // Orange
            '#800080', // Purple
            '#00FFFF', // Cyan
            '#FFC300'  // Yellow-Orange
        ];
        let colorIndex = 0; // Initialize a counter

        $(document).ready(function () {
            $(".liveView").on("click", function () {
                sendToWebView("liveView", {
                    "shipid": $(this).attr("data-shipid"),
                    "name": $(this).attr("data-name")
                });
            });
        });

        const map = L.map('map').setView([13.756384, 121.0388501], 6);

        // Base map
                L.tileLayer('https://{s}.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}{r}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://carto.com/attributions">CARTO</a>',
            subdomains: 'abcd',
            maxZoom: 19
        }).addTo(map);

        // Colored marker icons
        const blueIcon = L.icon({
            iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-blue.png',
            shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/images/marker-shadow.png',
            iconSize: [25, 41],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34],
            shadowSize: [41, 41]
        });

        const greenIcon = L.icon({
            iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-green.png',
            shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/images/marker-shadow.png',
            iconSize: [25, 41],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34],
            shadowSize: [41, 41]
        });

        // Fetch all vessel route data
        fetch(`${API_BASE_URL}/api/VesselRouteMaps/GetAllVesselRouteMap`)
        .then(res => res.json())
        .then(routes => {
          if (!routes || routes.length === 0) {
            console.warn("No vessel routes found.");
            return;
          }

          const allCoords = [];

          routes.forEach(route => {

            const lineColor = routeColors[colorIndex % routeColors.length];
            colorIndex++; // Move to the next color for the next route

            const originCoords = route.originPortCoordinates;
            const destCoords = route.destinationPortCoordinates;

            // Skip routes with missing coordinates
            if (!originCoords || !destCoords) {
              console.warn("Skipping route due to missing coordinates:", route.vesselName);
              return;
            }

            const origin = L.latLng(originCoords.latitude, originCoords.longitude);
            const destination = L.latLng(destCoords.latitude, destCoords.longitude);

            // Origin marker (blue)
            const originMarker = L.marker(origin, { icon: blueIcon }).addTo(map);
            originMarker.bindPopup(`
              <div style="text-align:center;">
                <h6 style="color:#0d6efd;">${route.originPortName || "Unknown"}</h6>
                <small>${route.vesselName}</small>
              </div>
            `);

            // Destination marker (green)
            const destMarker = L.marker(destination, { icon: greenIcon }).addTo(map);
            destMarker.bindPopup(`
              <div style="text-align:center;">
                <h6 style="color:#198754;">${route.destinationPortName || "Unknown"}</h6>
                <small>${route.vesselName}</small>
              </div>
            `);

            // Dashed straight line between origin and destination
            const dashedLine = L.polyline([origin, destination], {
                color: lineColor, // 💥 CHANGED HERE
                weight: 3,
                opacity: 0.7,
            }).addTo(map);

            // Update mouseover/out to use the selected color
            dashedLine.on('mouseover', function () {
                this.setStyle({ weight: 5, color: lineColor });
                map.getContainer().style.cursor = "pointer";
            });

            dashedLine.on('mouseout', function () {
                this.setStyle({ weight: 3, color: lineColor });
                map.getContainer().style.cursor = "";
            });

            // Compute midpoint of the line
            const midLat = (origin.lat + destination.lat) / 2;
            const midLng = (origin.lng + destination.lng) / 2;
            const midpoint = L.latLng(midLat, midLng);

            // Create popup content
            const popupHtml = `
                    <div style="">
          <div style="position: relative; top: -40px">
            <img style="border-radius: 16px; " src="${API_BASE_URL}/${route.pictureLocation}" height="80px" />
          </div>

          <div style="display: flex; align-items: center; justify-content: end; position: relative; top: -40px; gap: 8px">
            <div>
              <span>Yantian</span>
            </div>
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="none" fill-rule="evenodd"><path d="m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"/><path fill="currentColor" d="M14.211 17.776a4 4 0 0 1 3.364-.099l.214.1l2.658 1.328a1 1 0 0 1-.787 1.835l-.107-.046l-2.659-1.329a2 2 0 0 0-1.617-.076l-.172.076l-1.316.659a4 4 0 0 1-3.365.098l-.213-.098l-1.317-.659a2 2 0 0 0-1.617-.076l-.172.076l-2.658 1.33a1 1 0 0 1-.996-1.731l.102-.059l2.658-1.329a4 4 0 0 1 3.364-.099l.214.1l1.316.658a2 2 0 0 0 1.618.076l.171-.076zM13 2a1 1 0 0 1 1 1v1.32l3.329.554a2 2 0 0 1 1.67 1.973v3.432l2.06.686a1.25 1.25 0 0 1 .753 1.679l-2.169 5.06l-1.854-.928a4 4 0 0 0-3.578 0l-1.317.659a2 2 0 0 1-1.789 0l-1.316-.659a4 4 0 0 0-3.578 0l-1.27.636l-2.658-4.651a1.25 1.25 0 0 1 .69-1.806L5 10.279V6.847a2 2 0 0 1 1.67-1.973L10 4.32V3a1 1 0 0 1 1-1zm-1 4.014l-5 .833v2.766l4.367-1.456a2 2 0 0 1 1.265 0L17 9.613V6.847z"/></g></svg>
            </div>
          </div>

          <div style="display:flex; height: 180px; width: 300px; padding: 4px; position: relative; top: -40px;">
            <div style="background-color: #FBE5D6; border: 1px solid black; width: 100%; padding: 8px; display: flex; flex-direction: column; justify-content: space-between">
              <span style="color: red; font-weight: bold;">SAILING LEADTIME</span>
              <div>
                <span style="color: blue; font-weight: semibold;">ORIGIN TO DESTINATION PORT</span><br />
                <span>${route.origin_To_Destination_Port} days</span>
              </div>

              <div>
                <span style="color: blue; font-weight: semibold;">IMPORT PROCESSING LEADTIME</span><br />
                <span>${route.import_Processing_Leadtime} Working Days</span>
              </div>

              <div>
                <span style="text-decoration: underline; font-weight: bold;">TOTAL LEADTIME: ${route.total_Leadtime} DAYS</span>
              </div>

            </div>

            <div style="padding:6px">
              <div style="width:1px; height: 100%; border-right: 4px dashed black "></div>
            </div>
          </div>

          <div style="display: flex; align-items: center; justify-content: end; position: relative; top: -40px; gap: 8px">
            <div>
              <span>Batangas</span>
            </div>
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="M5.672 4.095a9.017 9.017 0 0 1 12.627-.03h.002l.032.03c3.545 3.487 3.552 9.088.042 12.54l-5.671 5.578a1 1 0 0 1-1.403 0L5.63 16.635a8.74 8.74 0 0 1 0-12.499zM12 6.5a3 3 0 1 0 0 6a3 3 0 0 0 0-6" clip-rule="evenodd"/></svg>
            </div>
          </div>

        </div>
            `;

            // Bind popup to the polyline itself
            dashedLine.bindPopup(popupHtml);

            // Show popup at the midpoint when line is clicked
            dashedLine.on("click", () => {
                dashedLine.openPopup(midpoint);
            });


            allCoords.push(origin, destination);
          });

          // Fit map to show all valid routes
          if (allCoords.length > 0)
            map.fitBounds(L.latLngBounds(allCoords), { padding: [50, 50] });
        })
        .catch(err => console.error('Error loading vessel routes:', err));


    </script>
}
