@model LogisticDashboard.Web.Views.Components.ComponentModels.NavLinkModel


<a asp-controller="@Model.ASPController" asp-action="@Model.ASPAction" class="btn link-btn w-100 @Model.BootstrapClass"><img class="me-2" src="@Model.Icon" width="24" height="24" style="filter: brightness(0) invert(1);" />@Model.Text</a>