@model LogisticDashboard.Core.ShippingInstruction

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ShippingInstruction</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingInstructionName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingInstructionName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileLinkEnglish)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileLinkEnglish)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileLinkJapanese)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileLinkJapanese)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastUpdated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
