@model LogisticDashboard.Core.PHPortMap

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PHPortMap</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Carrier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Carrier)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SailingLeadtime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SailingLeadtime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OriginPort)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OriginPort)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OriginPortCoordinates)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OriginPortCoordinates)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DestinationPort)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DestinationPort)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DestinationPortCoordinates)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DestinationPortCoordinates)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PictureLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PictureLocation)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
