@model LogisticDashboard.Core.PortUtilization

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PortUtilization</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Port)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Port.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Week)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Week)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Overall_Yard_Utilization)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Overall_Yard_Utilization)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vessels_At_Berth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vessels_At_Berth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vessels_At_Anchorage_Waiting)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vessels_At_Anchorage_Waiting)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Last_Update)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Last_Update)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
